/*********** Projects **********/
.projects{
  font-family: 'Acme', sans-serif;
    padding:50px;
  }
  
  .card{
    background: #24292d27;
    border:1px solid #4b5663;
  }
  
  .card-img-top{
    height: 40vh;
    width: 100%;
    object-fit:none;
  }
  
  hr{
    border: 2px solid black;
  }
  
  a{
    padding-left: 5px;
    text-decoration: none;
  }
  
  .andr{
    color: #32de85d5;
  }
  
  .git{
    color: #fac337d0;
  }
  
  .fa-github{
    color: #fac237;
  }
  
  .fa-android{
    color: #32de84;
  }
  